
head {
  margin: 0 auto;
  max-width: 50em;
  
}

body 
{
  font-family: "HelveticaNow","Helvetica","sans-serif";
  background: white;
  background-position: center;
  color: #555;
  line-height: 1.5;
  padding: 4em 1em;
}




section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px; 
  
  /*border: 1px solid #5D6063;*/
}

h2
{
  font-size:xx-large;;
}

#indicators {

  float: left;                  
  width: 250px; 
  line-height: 1.5;
  padding: 4em 1em;

}



#options { display: flex; flex-direction: nowrap; column-gap: 2em ; }
#show { order: 2; }
#page { order: 1; }
#filters { order: 3; }
#brand { order: 4; }
#sort{ order: 5; }
#like{ order: 6; }

#products,h2{
  float:center;
}

#products {
  float:center;
}
#options{
  background-color: rgb(185, 106, 106);
  background-position: bottom 50px;
  font-weight: bold;
  color: black;
  
}









h2,
strong {
color: #333;
}




a {
  color: #e81c4f;
}


@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


header {
background-color: white;
background-image: url("https://img-3.journaldesfemmes.fr/-nieMai9jWQkTL2X3JXZpvaSt-c=/1500x/smart/ede7497c47cf4fa282a5f362d1ae2eab/ccmcms-jdf/21576209.png");
background-position: center top;
background-repeat: no-repeat;
background-size: 500px;
line-height: 2.2;
padding: 10vw 1em;
text-align: center;
}
header {
color: black;
font-size: 0em;
font-weight: 0;
text-align: center;
      
}
