
head {
  margin: 0 auto;
  max-width: 50em;
  
}

body 
{
  font-family: "HelveticaNow","Helvetica","sans-serif";
  background: White;
  background-position: center;
  color: #555;
  line-height: 1.5;
  padding: 4em 1em;
}




section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px; 
  
  /*border: 1px solid #5D6063;*/
}

h2
{
  font-size:xx-large;;
}

#indicators {

  
  float: left;                  
  width: 300px; 
  line-height: 1.5;
  

}




#options { display: flex; flex-direction: nowrap; column-gap: 1em ; }

#products,div { display: flex; flex-wrap: wrap; column-gap: 1em ; }

#products,h2{
  float:center;
}
#products {
  float:center;
}


#options{
  
  background-color: rgb(161, 190, 197);
  background-position: bottom 50px;
  font-weight: bold;
  color: black;
  
}
#products,span,div
{
  font-weight: bold;
  
  
}









h2,
strong {
color: #333;
}




a {
  color: #e81c4f;
}


@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


header {
background-color: white;
background-image: url("https://img-3.journaldesfemmes.fr/-nieMai9jWQkTL2X3JXZpvaSt-c=/1500x/smart/ede7497c47cf4fa282a5f362d1ae2eab/ccmcms-jdf/21576209.png");
background-position:top;
background-repeat: no-repeat;
background-size: 500px;
line-height: 1;
padding: 13vw 2em;
text-align: top;
}
header {
color: black;
font-size: 0em;
font-weight: 0;
text-align: center;
      
}
